.marcaHome{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 75vh;
    font-size: 150pt;
    font-family: Perpetua Titling MT;
    color:rgba(0, 0, 0, 0.322);
    display: flex;
    justify-content: center;
    align-items:center;
    }