*{
    margin: 0vh;
    padding: 0vh;
    }
    .wrapper{
        background-image: url('./Images/direito.png');
    }
    .menu1{
        background-color: rgba(0, 0, 0, 0.671);
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 30pt;
        font-family: Felix Titling;
        color: white
    }
    .menu2{
        background-color: brown;
        height: 1vh;
    width: 100%;

    }
    .menu3{
        background-color: white;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 70pt;
        font-family: Felix Titling;
        color: white;
    }
    .btnH{
        width: 30vh;
        height: 10vh;
        border: solid;
        border-width: 0.3vh;
        border-color: WHITE;
        background-color:transparent;
        color: white;
        font-size: 20pt;
        font-family: Felix Titling;
        border-radius: 10px;
        }
          .btnH:hover{
        background-color: rgba(255, 255, 255, 0.493);
        border-color: transparent;
        color: rgba(0, 0, 0, 0.5);
        }
    .content{
    background-color:  transparent;
    height: 68vh;
    font-size: 30pt;
    font-family: Felix Titling;
    color: rgba(0, 0, 0, 0.342);
    display: flex;
    justify-content: center;
    align-items:flex-start;
    }
    .footer1{
    background-color: brown;
    height: 1vh;
    width: 100%;
    }
    .footer2{
        background-color: rgba(0, 0, 0, 0.719);
        height: 5vh;
        font-size: 8pt;
        font-family: Felix Titling;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        }