*{
    margin: 0vh;
    padding: 0vh;
    }
    .wrapperServices{
        background-image: url('./Images/sevices.png');
    }
    .menu1{
        background-color: rgba(0, 0, 0, 0.671);
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 30pt;
        font-family: Felix Titling;
        color: white
    }
    .menu2{
        background-color: brown;
        height: 1vh;
    width: 100%;

    }
    .menu3{
        background-color: transparent;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 70pt;
        font-family: Felix Titling;
        color: white;
    }
    .btn{
        width: 30vh;
        height: 10vh;
        border: solid;
        border-width: 0.3vh;
        border-color: brown;
        background-color:transparent;
        color: brown;
        font-size: 20pt;
        font-family: Felix Titling;
        border-radius: 10px;
        }
          .btn:hover{
        background-color: rgba(165, 42, 42, 0.801);
        border-color: transparent;
        color: white;
        }
    .content{
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .card{
        background-color:  rgba(0, 0, 0, 0.815);
        height: 30vh;
        width: 40vh;
        margin: 1vh;
        padding: 3vh;
        font-size: 8pt;
        font-family: Felix Titling;
        border: solid;
        border-width: 0.5;
        border-color: white;
        border-radius: 15px;
        color: WHITE;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        text-align: justify;
        }
        .card:hover{
            background-color:  rgba(255, 255, 255, 0.829);
            height: 60vh;
            width: 70vh;
            margin: 1vh;
            padding: 3vh;
            font-family: Felix Titling;
            font-size: 15pt;
            border: solid;
            border-width: 0.5;
            border-color: black;
            border-radius: 15px;
            color: black;
            display: flex;
             flex-direction: column;
        justify-content: space-around;
        align-items:center;
        text-align: justify;

            }
        .trabOn{
            background-color:  rgba(0, 0, 0, 0.596);
            height: 40vh;
            width: 50vh;
            margin: 1vh;
            padding-top: 1vh;
            font-size: 10Pt;
            font-family: Felix Titling;
            color: WHITE;
            display: flex;
            justify-content: center;
            align-items:flex-start;
            }
    .footer1{
    background-color: brown;
    height: 1vh;
    width: 100%;
    }
    .footer2{
        background-color: rgba(0, 0, 0, 0.719);
        height: 5vh;
        font-size: 8pt;
        font-family: Felix Titling;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        }