.fundoContact{
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}
.wrapperContact{
position: relative;
z-index: 1;
}
    .menu-C{
    background-color: transparent;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 70pt;
    font-family: Perpetua Titling MT;
    color: white;
    }
    .titleContact{
        width: 30vw;
        height: 10vh;
        color: rgb(255, 255, 255);
        font-size: 40pt;
        font-family: Perpetua Titling MT;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnContact{
        width: 30vh;
        height: 10vh;
        border: solid;
        border-width: 0.3vh;
        border-color: white;
        background-color:transparent;
        color: white;
        font-size: 15pt;
        font-family: Perpetua Titling MT;
        }
        .btnContact:hover{
            background-color: rgba(255, 255, 255, 0.459);
            border-color: transparent;
            color: white;
            }
    .titleContact{
        width: 30vw;
        height: 10vh;
        color: rgb(255, 255, 255);
        font-size: 40pt;
        font-family: Perpetua Titling MT;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-C:hover{
    background-color:rgba(255, 255, 255, 0.288);
    border-color: transparent;
    color: white;
    }
    .content-C{
    height: 65vh;
    width: 100%;
    font-size: 10pt;
    color:BLACK;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-start;
    
    }
    .form{
    height: 60vh;
    width: 50vh;
    font-size: 15pt;
    font-family: Perpetua Titling MT;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: transparent;
    text-align: center;
    margin-left: 11.5Vh;
    box-shadow: 0px 0px 5px 0px BLACK;
    }
    .name{
    background-color:  rgba(255, 255, 255, 0.315);
    height: 3vh;
    width: 35vh;
    color: rgba(0, 0, 0, 0.808);
    margin: 1VH;
    font-family: Agency FB;
    font-size: 15pt;
    text-align: center;
    outline: none;
    border-color: white;
    border-width: 0.1vh;
    }
    .email{
    background-color:  rgba(255, 255, 255, 0.315);
    height: 3vh;
    width: 35vh;
    color: rgba(0, 0, 0, 0.808);
    margin: 1VH;
    font-family: Agency FB;
    font-size: 15pt;
    text-align: center;
    outline: none;
    border-color: white;
    border-width: 0.1vh;
    }
    .text{
    background-color:  rgba(255, 255, 255, 0.315);
    height: 10vh;
    width: 35vh;
    color: rgba(0, 0, 0, 0.808);
    margin: 1VH;
    font-family: Agency FB;
    font-size: 15pt;
    text-align: left;
    padding: 1vh;
    outline: none;
    border-color: rgba(255, 255, 255, 0.274);
    border-width: 0.1vh;
    }
    .btnSubmit{
    background-color: transparent;
    height: 8vh;
    width: 25vh;
    color: white;
    margin: 1VH;
    font-family:Perpetua Titling MT;
    font-size: 12pt;
    text-align: center;
    outline: none;
    border-color: white;
    border-width: 0.3vh;
    box-shadow: 1px 1px 10px black;
    }
    .btnSubmit:hover{
    background-color: rgba(255, 255, 255, 0.342);
    border-color: transparent;
    }
     img{
    padding: 1vh;
    }
    .icones{
    background-color: rgba(255, 255, 255, 0.267);
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
    }
    .footer1-C{
    background-color:transparent;
    height: 10vh;
    font-size: 20pt;
    font-family: Garamond;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2vh;
    }
    .footer2-C{
        background-color:transparent;
        height: 5vh;
        font-size: 20pt;
        font-family: Mistral;
        color:rgb(255, 255, 255);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 2vh;
        }
    
