.fundoHome{
    position: fixed;
    z-index: 0;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}
.wrapperHome{
    position: relative;
    z-index: 1;
}
.menuHome{
height: 20vh;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.btnHome{
    width: 30vh;
height: 10vh;
border: solid;
border-width: 0.3vh;
border-color: white;
background-color:transparent;
color: white;
font-size: 15pt;
font-family: Perpetua Titling MT;
}
.btnHome:hover{
background-color: rgba(255, 255, 255, 0.322);
border-color: transparent;


}
.titleHome{
width: 30vw;
height: 10vh;
color: rgb(255, 255, 255);
font-size: 40pt;
font-family: Perpetua Titling MT;
display: flex;
justify-content: center;
align-items: center;

}
.contentHome{
height: 75vh;
font-size: 90pt;
font-family: Perpetua Titling MT;
color:rgba(0, 0, 0, 0.322);
display: flex;
justify-content: center;
align-items:center;
}
.footerHome{
background-color:transparent;
height: 5vh;
font-size: 20pt;
font-family: Mistral;
color:rgb(255, 255, 255);
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 2vh;
}
