.fundoPartners{
   
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}
.wrapperPartners{
position: relative;
z-index: 1;
}
.menu-P{
background-color: transparent;
height: 20vh;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 70pt;
font-family: Perpetua Titling MT;
color: white;
}
a{
    text-decoration: none;
}
.btn-P{
width: 30vh;
height: 10vh;
border: solid;
border-width: 0.3vh;
border-color: white;
background-color:transparent;
color: white;
font-size: 15pt;
font-family: Perpetua Titling MT;
}
.btn-P:hover{
background-color: rgba(255, 255, 255, 0.473);
border-color: transparent;
color: white;
}
.titlePartners{
    width: 30vw;
    height: 10vh;
    color: rgb(255, 255, 255);
    font-size: 40pt;
    font-family: Perpetua Titling MT;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-P{
background-color:  transparent;
height: 75vh;
font-size: 10pt;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.cardP{
transition: all 1s;
width: 20vh;
height: 20vh;
background-color: transparent;
font-family: PMingLiU-ExtB;
font-size: 4pt;
color: black;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 2vh;
box-shadow: 1px 1px 10px black;
text-align: center;
text-decoration: none;
}
.cardP:hover{
width: 60vh;
height: 60vh;
font-size: 8pt;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-decoration: none;

}
.titleP{
background-color: rgba(255, 255, 255, 0.486);
color: black;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}
.footer-P{
background-color:transparent;
height: 5vh;
font-size: 20pt;
font-family: Mistral;
color:rgb(255, 255, 255);
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 2vh;
}