.fundoSkills{
position: fixed;
z-index: 0;
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
border-radius: 0;
}
.wrapperSkills{
position: relative;
z-index: 1;
}
.menuSkills{
background-color: transparent;
height: 20vh;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 70pt;
font-family: Perpetua Titling MT;
color: white;
}
.titleSkills{
    width: 30vw;
height: 10vh;
color: rgb(255, 255, 255);
font-size: 40pt;
font-family: Perpetua Titling MT;
display: flex;
justify-content: center;
align-items: center;
}
.btnSkills{
    width: 30vh;
    height: 10vh;
    border: solid;
    border-width: 0.3vh;
    border-color: white;
    background-color:transparent;
    color: white;
    font-size: 15pt;
    font-family: Perpetua Titling MT;
    }
    .btnSkills:hover{
        background-color: rgba(255, 255, 255, 0.459);
        border-color: transparent;
        color: white;
        }
.contentSkills{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.cardSkills{
transition: all 0.5s;
background-color: WHITE;
width: 10vw;
height: 30vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
text-align: justify;
font-size: 3pt;
padding: 3vh;
margin: 1vw;
box-shadow: 0px 0px 10px 1px #000000;
}
.cardSkills:hover{
transition: all 0.5s;
width: 25vw;
height: 50vh ;
font-family: Agency FB;
font-size: 10pt;
box-shadow: 1px 1px 10px black;
}
.footerSkills{
background-color:transparent;
height: 5vh;
font-size: 20pt;
font-family: Mistral;
color:rgb(255, 255, 255);
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 2vh;
}

  