.footerHome{
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 5vh;
    background-color:transparent;
    font-size: 20pt;
    font-family: Mistral;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }